{
  "env": {
    "jest": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}
